.text
{
    
    
     margin: 0;
     font-family: Poppins;
     color: #fba8a8;
     font-size: 60px;
     font-weight: 600;
     line-height: 60px;
     letter-spacing: -2px;
     text-align: left;
     text-shadow:2px 2px rgb(164, 167, 154);
}