@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

nav
{
 background-color: #a6d3c7;
 box-shadow: 3px 4px 8px #515352;
 height: 90px;
 font-family: 'Bona Nova', serif;
 font-weight: bold;
}
.navbar-brand img{
    height: 80px;
    width: 80px;
    margin-top: 1px;
}
.nav-item{
    padding-right: 50px;
}